<!DOCTYPE html>
<html>
<head>
	<title>{{.SiteName}} - {{.Album}} Images</title>
	
	<style>
		p.description {
			display: inline-block;
			max-width: 600px;
		}
		.right {
			float: right;	
		}
		div.item {
			display: inline-block;
		}
	</style>
	
	<link rel="stylesheet" type="text/css" href="/lib/lightbox.min.css">
	
	<script type="text/javascript" src="/lib/lightbox.min.js"></script>
</head>
<body>
	<span class="right"><a href="/api/logout?_={{.Rand}}">logout</a></span>
	<a href="..">Back to group</a><br>
	<h1>{{.Album}}</h1>
	<h2>{{.Title}}</h2>
	<p class="description">
		{{.Desc}}
	</p>
	<div id="container">
		{{range .Images}}
		<div class="item"><img class="jslghtbx-thmb" src="200/{{.}}" data-jslghtbx="1280/{{.}}"></div>
		{{else}}
		<b>No Images</b>
		{{end}}
	</div>
	
	<script>
var lightbox = new Lightbox();
lightbox.load({
	responsive: true,
	hideOverflow: true,
	closeOnClick: true,
});
	</script>
</body>
</html>
