<!DOCTYPE html>
<html>
<head>
	<title>{{.SiteName}} - {{.Album}} Images</title>
	
	<style>
		p.description {
			display: inline-block;
			max-width: 600px;
		}
		.right {
			float: right;	
		}
		div.item {
			display: inline-block;
		}
	</style>
	
	<link rel="stylesheet" type="text/css" href="/lib/colorbox.css">
	
	<script type="text/javascript" src="/lib/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/lib/jquery.colorbox-min.js"></script>
</head>
<body>
	<span class="right"><a href="/api/logout?_={{.Rand}}">logout</a></span>
	<a href="..">Back to group</a><br>
	<h1>{{.Album}}</h1>
	<h2>{{.Title}}</h2>
	<p class="description">
		{{.Desc}}
	</p>
	<div id="container">
		{{range .Images}}
		<div class="item"><a class="album" href="1280/{{.}}"><img src="200/{{.}}"></a></div>
		{{else}}
		<b>No Images</b>
		{{end}}
	</div>
	
	<script>
$(".album").colorbox({
	rel:'album',
	transition:"none",
	slideshow: true,
	slideshowAuto: false,
	maxWidth: "95%",
	maxHeight: "95%"
});
	</script>
</body>
</html>
