<!DOCTYPE html>
<html>
<head>
	<title>Photo Site - {{.Username}}</title>
</head>
<body>
	<h1>{{.Username}}</h1>
	<ul>
		{{range .Groups}}
		<li><a href="/u/{{.}}/">{{.}}</a></li>
		{{else}}
		<li>No Groups</li>
		{{end}}
	</ul>
</body>
</html>
