<!DOCTYPE html>
<html>
<head>
	<title>{{.SiteName}} - {{.C.Username}}</title>
	
	<style>
	.right {
		float: right;	
	}
	</style>
</head>
<body>
	<span class="right"><a href="/api/logout?_={{.Rand}}">logout</a></span>
	<h1>{{.C.Username}}</h1>
	<ul>
		{{range .C.Groups}}
		<li><a href="/u/{{.}}/">{{.}}</a></li>
		{{else}}
		<li>No Groups</li>
		{{end}}
	</ul>
</body>
</html>
